<table>
    <thead>
        <th>
            Sr
        </th>
        <th>
            <input type='text' id='product-sort' placeholder='Item Name' class="product-sort" style='background-color:#e4eaec;'></input>
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
    </thead>
    <tbody id='new-order-table-body'>
        <% products.each_with_index do |product, index| %>
            <tr class="product-row <%=product.id%> <%=product.name%>" data-position="<%=index+1%>" data-id=<%= product.id%>>
                <td><%= index+1 %></td>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td>
                    <input type='number' name='product_quantity' placeholder='0' readonly class="product-quantity<%=product.id%>"></input>
                    <input type='button' value='+1' class="addbutton-1-<%=product.id%>"></input>
                    <input type='button' value='+3' class="addbutton-3-<%=product.id%>"></input>
                    <input type='button' value='+10' class="addbutton-10-<%=product.id%>"></input>
                    <input type='button' value='x' class="clearbutton-x-<%=product.id%>"></input>
                </td>
            </tr>
        <% end %>
    </tbody>
    <tbody>
        <tr>
            <td>Total: <span id='new-order-total'>0</span></td>
        </tr>
    </tbody>
</table>
<button onclick="createOrder();">
    Proceed
</button>
<button>
    Generate bill
</button>